# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails
._*

# Spotlight and Trash
.Spotlight-V100
.Trashes

# macOS Volume-specific
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk